<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reception Menu</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{../static/fragments/nav-bar :: nav}"></div>
<div class="container mt-5">
    <div id="alertContainer"></div>
    <div class="row mt-4 card" sec:authorize="hasRole('RESIDENT')">
        <h2 class="card-header">Portaria - Morador</h2>
        <div class="card-body">
            <div class="col-md-6">
                <h3>Visitantes</h3>
                <form>
                    <div class="form-group">
                        <select class="form-control" id="visitor" name="visitorId" aria-label=".form-control">
                            <option selected>Selecione o visitante</option>
                            <option th:each="visitor : ${visitors}"
                                    th:value="${visitor.id}"
                                    th:text="${visitor.person.name}"></option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="notificationVisitor()">Notificar Portaria</button>
                </form>
            </div>

            <div class="col-md-6 mt-4">
                <a href="/visitor/form" class="btn btn-info">Adicionar Novo Visitante</a>
            </div>

            <div class="col-md-6 mt-5">
                <h3>Minhas entregas</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Data de Chegada</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody id="pending-deliveries-body">
                    <!-- As entregas pendentes serão adicionadas aqui dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-4 card" sec:authorize="hasRole('DOORMAN')">
        <h2 class="card-header">Portaria - Porteiro</h2>
        <div class="card-body">
            <div class="col-md-6">
                <h3>Adicionar entregas</h3>
                <form>
                    <div class="form-group">
                        <label for="resident">Residente:</label>
                        <select class="form-control" id="resident" name="residentId">
                            <option th:each="resident : ${residents}" th:value="${resident.id}" th:text="${resident.person.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="arrivalDate">Data de Chegada:</label>
                        <input type="date" class="form-control" id="arrivalDate" name="arrivalDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
                    </div>
                    <input type="hidden" name="delivered" value="false">
                    <button type="button" class="btn btn-primary" onclick="notificationDelivery()">Notificar Morador</button>
                </form>
            </div>

            <div class="col-12 mt-4">
                <h3>Notificações de Visitantes</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Número</th>
                        <th>Nome do Visitante</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody id="pending-notifications-body">
                    <!-- As notificações de visitantes pendentes serão adicionadas aqui dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qrCodeModalLabel">QR Code do Visitante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="qrCodeImage" src="" alt="QR Code do Visitante">
                <div id="verificationResult"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button id="verifyButton" type="button" class="btn btn-primary" onclick="verifyQRCode()">Verificar</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/messages.js}"></script>
<script th:src="@{/js/alert.js}"></script>
<script>
    function notificationVisitor() {

        var visitorId = $('#visitor').val();

        $.get('/visitor/' + visitorId, function(visitor) {
            var nVisitor = {
                visitor: visitor,
                time: new Date(),
                authorized: false
            };

            $.ajax({
                type: 'POST',
                url: '/reception/notification',
                contentType: 'application/json',
                data: JSON.stringify(nVisitor),
                success: function () {
                    showAlert(messages.notification.success);
                    loadPendingNotifications();
                },
                error: function (response) {
                    let errorMessage = 'An unknown error occurred';
                    if (response.responseJSON && response.responseJSON.message) {
                        errorMessage = response.responseJSON.message;
                    }
                    showAlert(errorMessage, 'danger');
                }
            });
        });
    }

    function notificationDelivery() {
        var arrivalDateValue = new Date($('#arrivalDate').val());
        arrivalDateValue.setDate(arrivalDateValue.getDate() + 1);
        var nDelivery = {
            residentId: $('#resident').val(),
            arrivalDate: arrivalDateValue,
            delivered: false
        };

        $.ajax({
            type: 'POST',
            url: '/delivery',
            contentType: 'application/json',
            data: JSON.stringify(nDelivery),
            success: function () {
                showAlert(messages.delivery.success);
                loadPendingDeliveries();
            },
            error: function (response) {
                let errorMessage = 'An unknown error occurred';
                if (response.responseJSON && response.responseJSON.message) {
                    errorMessage = response.responseJSON.message;
                }
                showAlert(errorMessage, 'danger');
            }
        });
    }

    $(document).ready(function() {
        loadPendingDeliveries();
    });

    function loadPendingDeliveries() {
        $.get('/delivery/pending', function(deliveries) {
            var tbody = $('#pending-deliveries-body');
            tbody.empty();
            $.each(deliveries, function(index, delivery) {
                var row = '<tr>' +
                    '<td>' + delivery.formattedArrivalDate + '</td>' +
                    '<td><button class="btn btn-success" onclick="confirmDelivery(' + delivery.number + ')">Confirmar</button></td>' +
                    '</tr>';
                tbody.append(row);
            });
        });
    }

    function confirmDelivery(deliveryId) {
        $.get('/delivery/' + deliveryId, function(delivery) {
            if (delivery) {
                delivery.delivered = true;
                $.ajax({
                    type: 'PUT',
                    url: '/delivery/' + deliveryId,
                    contentType: 'application/json',
                    data: JSON.stringify(delivery),
                    success: function () {
                        showAlert(messages.deliveryConfirmation.success);
                        loadPendingDeliveries();
                    },
                    error: function (response) {
                        let errorMessage = 'An unknown error occurred';
                        if (response.responseJSON && response.responseJSON.message) {
                            errorMessage = response.responseJSON.message;
                        }
                        showAlert(errorMessage, 'danger');
                    }
                });
            } else {
                showAlert(messages.deliveryConfirmation.notFound, 'warning')
            }
        });
    }
    $(document).ready(function() {
        loadPendingNotifications();
    });

    function loadPendingNotifications() {
        $.get('/reception/pending-notifications', function(notifications) {
            var tbody = $('#pending-notifications-body');
            tbody.empty();
            $.each(notifications, function(index, notification) {
                var row = '<tr>' +
                    '<td>' + notification.number + '</td>' +
                    '<td>' + notification.visitor.person.name + '</td>' +
                    '<td>' +
                    '<button class="btn btn-success m-2" onclick="authorizeNotification(' + notification.number + ')">Autorizar</button>' +
                    '<button class="btn btn-info m-2" data-qrcode=\'' + JSON.stringify(notification.visitor.qrCode) + '\' onclick="openQRCodeModal(this)">Verificar QR Code</button>' +
                    '</td>' +
                    '</tr>';
                tbody.append(row);
            });
        });
    }

    function authorizeNotification(notificationNumber) {
        $.ajax({
            type: 'PUT',
            url: '/reception/notification/' + notificationNumber + '/authorize',
            contentType: 'application/json',
            success: function () {
                showAlert(messages.notification.success);
                loadPendingNotifications();
            },
            error: function (reponse) {
                let errorMessage = 'An unknown error occurred';
                if (response.responseJSON && response.responseJSON.message) {
                    errorMessage = response.responseJSON.message;
                }
                showAlert(errorMessage, 'danger');
            }
        });
    }

    function openQRCodeModal(button) {
        var qrCodeText = $(button).data('qrcode');
        gerarQRCode(qrCodeText);
        $('#qrCodeModal').modal('show');
        $('#verifyButton').off('click').on('click', function () {
            verifyQRCode(qrCodeText);
        });
    }

    function verifyQRCode(qrCodeText) {
        $.ajax({
            type: 'POST',
            url: '/visitor/verify',
            data: JSON.stringify({ qrCodeText: qrCodeText }),
            success: function (response) {
                if (response.valid) {
                    $('#verificationResult').html('<div class="alert alert-success" role="alert">QR Code válido</div>');
                } else {
                    $('#verificationResult').html('<div class="alert alert-warning" role="alert">QR Code inválido</div>');
                }
            },
            error: function () {
                showAlert(messages.qrCode.error, 'danger');
            }
        });
    }

    function gerarQRCode(texto) {
        $.ajax({
            type: 'GET',
            url: '/visitor/generate',
            data: { text: texto },
            success: function(data) {
                var imagem = 'data:image/png;base64,' + data;
                $('#qrCodeImage').attr('src', imagem);
            },
            error: function() {
                showAlert(messages.qrCode.generateError);
            }
        });
    }
</script>
</body>
</html>