<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <style>
        .nav-link {
          color: white;
        }
    </style>
</head>
<body>
<ul th:fragment="nav" class="nav" style="background: blue;">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/comasy/resident/form">Residentes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/apartments">Apartamentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/comasy/visitor/form">Visitas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/condominium/">Condomínio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/condominium/listar">Lista</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
    </li>
</ul>

</body>
</html>