<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Visitor QR Code</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    </head>
    <body>
    <div th:insert="~{../static/fragments/nav-bar :: nav}"></div>
    <div class="container">
        <h1 class="mt-5">Visitor QR Code</h1>
        <div th:if="${visitor != null}">
            <img th:src="'data:image/png;base64,' + ${qrCodeImage}" alt="Visitor QR Code" class="img-fluid">
        </div>
        <input type="hidden" id="qrCodeText" th:value="${qrCodeText}" />
        <div th:if="${visitor == null}">
            <p>O visitante não foi encontrado.</p>
        </div>
        <button class="btn btn-primary mt-3" onclick="verificarQRCode()">Verificar QR Code</button>
    </div>

    <script>
        function verificarQRCode() {

            var qrCodeText = $('#qrCodeText').val();

            $.ajax({
                type: "POST",
                url: "/visitor/verify",
                data: JSON.stringify({ qrCodeText: qrCodeText }),
                contentType: "application/json",
                success: function (response) {
                    alert('Verificação do QR Code: ' + response.message);
                },
                error: function (error) {
                    alert('Erro ao verificar o QR Code.');
                }
            });
        }
    </script>
    </body>
</html>
