<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <title>Cadastro de Residente</title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">Cadastro de Residente</h1>

            <form th:action="@{/create}" th:object="${residentDto}" method="post" class="mb-5">

                <div class="mb-3 form-group">
                    <label for="input-name">Nome</label>
                    <input type="text" class="form-control" id="input-name" th:field="*{person.name}">
                </div>

                <div class="mb-3 form-group">
                    <label for="input-cpf">CPF</label>
                    <input type="text" class="form-control" id="input-cpf" th:field="*{person.cpf}">
                </div>

                <div class="mb-3 form-group">
                    <label for="input-birthday">Data de Nascimento</label>
                    <input type="date" class="form-control" id="input-birthday" th:field="*{person.birthday}">
                </div>

                <div class="mb-3" id="phone-inputs">
                    <label>Telefone(s)</label>
                </div>
                <button type="button" class="btn btn-primary mb-3" id="add-phone">Adicionar Telefone</button>


                <div class="mb-3 form-group">
                    <label for="input-cnh">CNH</label>
                    <input type="text" class="form-control" id="input-cnh" th:field="*{person.cnh}">
                </div>

                <div class="mb-3 form-group">
                    <label for="input-apartment-number">Número do Apartamento</label>
                    <input type="text" class="form-control" id="input-apartment-number" th:field="*{apartmentNumber}">
                </div>

                <div class="mb-3 form-group">
                    <label for="input-role">Selecione o Papel</label>
                    <select class="form-select" id="input-role" th:field="*{role}" name="role">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Cadastrar Residente</button>
            </form>
        </div>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.js}"></script>
        <script>
            $(document).ready(function() {
                $("#add-phone").click(function() {
                    $("#phone-inputs").append('<div class="mb-3"><input type="text" class="form-control mb-2 phone-input" placeholder="Telefone"><button type="button" class="btn btn-danger remove-phone">Remover Telefone</button></div>');
                });

                $(document).on("click", ".remove-phone", function() {
                    $(this).parent().remove();
                });
            });
        </script>
    </body>
</html>
