<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <title>Cadastro de Residente</title>
    <style>
        .nav-link {
          color: white;
        }
    </style>
</head>
<body>
<ul class="nav" style="background: blue;">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/comasy/resident/form">Residentes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/apartments">Apartamentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/comasy/visitor/form">Visitas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/condominium/">Condomínio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
    </li>
</ul>

<div class="container">
    <h1 class="mt-5">Cadastro de Residente</h1>

    <form id="residentForm" method="post" class="mb-5">

        <div class="mb-3 form-group">
            <label for="input-name">Nome</label>
            <input type="text" class="form-control" id="input-name" name="person.name">
        </div>

        <div class="mb-3 form-group">
            <label for="input-cpf">CPF</label>
            <input type="text" class="form-control" id="input-cpf" name="person.cpf">
        </div>

        <div class="mb-3 form-group">
            <label for="input-birthday">Data de Nascimento</label>
            <input type="date" class="form-control" id="input-birthday" name="person.birthday">
        </div>

        <div class="mb-3" id="phone-inputs">
            <label>Telefone(s)</label>
        </div>
        <button type="button" class="btn btn-primary mb-3" id="add-phone">Adicionar Telefone</button>


        <div class="mb-3 form-group">
            <label for="input-cnh">CNH</label>
            <input type="text" class="form-control" id="input-cnh" name="person.cnh">
        </div>

        <div class="mb-3 form-group">
            <label for="input-apartment-number">Número do Apartamento</label>
            <input type="text" class="form-control" id="input-apartment-number" name="apartmentNumber">
        </div>

        <div class="mb-3 form-group">
            <label for="input-role">Selecione o Papel</label>
            <select class="form-select" id="input-role" name="role">
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </div>

        <button type="button" onclick="submitForm()" class="btn btn-primary">Cadastrar Residente</button>
    </form>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script>
    function submitForm() {
        var form = $('#residentForm')[0];
        var formData = new FormData(form);
        var residentDto = {
            person: {
                phoneNumber: []
            },
            apartmentNumber: null,
            role: null
        };

        formData.forEach(function (value, key) {
            if (key.startsWith('person.')) {
                var personKey = key.substring(7);
                if (personKey === 'phoneNumber') {
                    residentDto.person.phoneNumber.push(value);
                } else {
                    residentDto.person[personKey] = value;
                }
            } else if (key === 'apartmentNumber') {
                residentDto.apartmentNumber = value;
            } else if (key === 'role') {
                residentDto.role = value;
            } else {
                residentDto[key] = value;
            }
        });

        residentDto.person.birthday = new Date(residentDto.person.birthday);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/residents",
            data: JSON.stringify(residentDto),
            dataType: 'json',
            success: function (data) {
                console.log('Resident created successfully:', data);
            },
            error: function (error) {
                console.error('Error creating resident:', error);
            }
        });
    }


    $(document).ready(function () {
        $("#add-phone").click(function () {
            $("#phone-inputs").append('<div class="mb-3"><input type="text" name="person.phoneNumber" class="form-control mb-2 phone-input" placeholder="Telefone"><button type="button" class="btn btn-danger remove-phone">Remover Telefone</button></div>');
        });

        $(document).on("click", ".remove-phone", function () {
            $(this).parent().remove();
        });
    });
</script>
</body>
</html>
